/* -------------------------------- mobile  -------------------------------- */

/* box model */
html{
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  height: -webkit-fill-available;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  /* end of box model */

h1,h2,h3,h4,h5,h6{font-family: 'Solway', serif;}

h1{
  font-size: 40px;
  margin: 0px;
}

ul{
  margin: 0;
  padding: 0;
  list-style:none;
}

p{font-size: 16px;}

br{display:none;}

a{
  text-decoration: none;
  color: #40AFFE;
}

body{
  max-width: 1120px;
  margin: 0 auto;
  color: #222;
  position: relative;
  min-height: -webkit-fill-available;
}

section {
  padding: 0 40px;
  overflow: hidden;
}

/* top nav bar */

  /* mobileMenu */
  .mobileMenu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    background-image: linear-gradient(to bottom right, #40AFFE, #AE91CB);
    z-index: 200;
  }

  .mmcontainer{
    position: fixed;
    top: 24px;
    left: 40px;
    right: 0;
    bottom: 60px;
    padding-left: 40px;
    background: white;
    display: flex;
    flex-direction: column;
  }

  .mobileMenu a{
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .closemenu {
    width: 100%;
    padding: 40px 40px 40px 0px;
    text-align: right;
    font-size: 30px;
    color: #40AFFE;
  }

  .mobileMenu { display: none; }

  .webMenu { display: none; }
  /* End of mobileMenu */

  header{
    height: 80px;
    padding: 0px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: white;
    box-shadow: 0px 0px 40px rgba(47,122,175,.07);
    z-index: 5000;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

  header .container{
    max-width: 1040px;
    margin: 0 auto;
    display: block;
    margin-left: 0;
  }

  .logo{
    height: 40px;
  }

  .openmenu{
    display: inline-block;
    /* background: #222; */
    padding: 10px;
  }

/* End of top nav bar */

/* hero section */
.hero{
  height: 100vh;
  padding: 120px 40px 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.myphoto{
  display: block;
  margin-bottom: 40px;
  transform: translateX(70px);
}

.hero .container img{
  height: 40px;
  width: auto;
}

.arrowWork{
  display: block;
  position: absolute;
  bottom: 40px;
  animation: arrowWork .7s infinite;
  font-size: 30px;
  left:50%;
  margin-left: -13px;
  z-index: 3000;
}

@keyframes arrowWork {
  from { transform: translateY( 0px); }
  50% {transform: translateY( 7px); }
  to { transform: translateY( 0px); }
}
/* End of hero section */

/* article 01 */
article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.description{ z-index: 30; }

h2{
  font-size: 24px;
  margin: 20px 0;
  letter-spacing: -.2px;
}

.description a{
  font-weight: bold;
  text-align: right;
  margin-top: 30px;
  display: block;
  color: #222;
  transition: all linear .2s;
}

.description a .fad{ transition: all linear .2s; }

.description a:hover{ color: #40AFFE; }

.description a:hover .fad{ transform: translateX(10px); }

.description li{
  font-size: 12px;
  font-weight: bold;
  background: #C9DBD9;
  border-radius: 53px;
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
  margin-right: 4px;
}

  /* preview */
.preview{
  width: 100%;
  height: 160px;
  position: relative;
  background: red;
  margin: 60px 0 40px ;
}

.number{
  font-size: 100px;
  font-weight: 800;
  color: #6D838C;
  opacity: 10%;
  position: absolute;
  right: -15%;
  top: -45%;
  z-index: 10;
}

.preview img{
  width: 100%;
  max-width: 699px;
  position: absolute;
  z-index: 20;
  bottom: -30%;
  left: -10%;
}

.box{
  width:  200%;
  height: 160px;
  background-color: #C9DBD9;
  position: absolute;
  right: 0;
  z-index: 1;
}
/* End of article 01 */

/* article 02 */
.a02 li{
  background: #D2BCE8;
}

.a02 .box {
  background-color: #D2BCE8;
  left: 0;
}

.a02 img{
  width: 80%;
  left: auto;
  right: -5%;
  bottom: -30%;
}

.a02 .number{
  right: auto;
  left: -17%;
}
/* End of article 02 */

/* article 03 */

.a03 li{
  background: #FBD7A1;
}

.a03 .number{
  color: #D8AD6E;
  opacity: 20%;
}
.a03 .box {background-color: #FBD7A1;}
/* End of article 03 */

/* Footer */
footer{
  height: 160px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 2px #D9EFFF;
}

footer ul a{
  background: white;
  margin: 0 10px;
  font-size: 24px;
  display: inline-block;
  transition: all linear .2s;
}

footer ul a:hover{
  color: #7275C1;
  transform: scale(1.5);
}
/* End of Footer */
/* ----------------------------- End of mobile  ---------------------------- */

/* -------------------------------- desktop  ------------------------------- */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */

h1{
  font-size: 70px;
}
p{font-size: 24px;}
br{display: block;}

header{
  height: 160px;
}

section {
  padding: 0 ;
  overflow: visible;
}

/* top nav bar */

header .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.mobileMenu , .openmenu { display: none; }

.webMenu { display: block;}

.logo{ height: 60px; }

nav{display: block;}

nav a{
  background: white;
  margin-left: 40px;
  padding: 4px 20px;
  font-weight: bold;
  transition: all linear .3s;
  display: inline-block;
}

nav a:hover{
  color: #7275C1;
  transform: scale(1.2);
}
/* End of top nav bar */

/* hero */
.hero{
  max-height: 800px;
  height: 60vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.hero .container a{
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  }

.hero .container a:hover i{
  opacity: 100%;
  transform: translate(0,0);
}

.myphoto{
  transform: translateX( 0px );
}

.hero .container a i{
  opacity: 0;
  transition: all linear .5s;
  transform: translate(-10px,10px);
  margin-left: 10px;
}

.arrowWork i{
  transition: all linear .2s;
  transform: scale(1);
}

.arrowWork i:hover{
  color: #7275C1;
  transform: scale(1.5);
}
/* End of hero */

/* article */
article{
  height: 660px;
  flex-direction: row;
  padding: 0 40px;
  /* border: solid 1px green; */
}

.description{ width: 30%; }

h2{ font-size: 40px; }

.description li{ margin-right: 10px; }

.preview{
  width: 65%;
  height: 400px;
  position: relative;
}

.number{
  font-size: 228px;
  right: -15%;
  top: -40%;
}

.preview img{
  width: 94%;
  left: 0;
  bottom: -15%;
}

.box{
  width: 100%;
  height: 400px;
  background-color: #C9DBD9;
  position: absolute;
  z-index: 1;
}
/* End of article */

/* a02 */

.a02 li{
  background: #D2BCE8;
}

.a02{ flex-direction: row-reverse;}

.a02 img{
  left: 13%;
  width: 80%;
  bottom: -27%;
}

.a02 .number{
  color: #AE91CB;
  opacity: 20%;
  left: -27%;
}
.a02 .box {background-color: #D2BCE8;}
/* End of a02 */

/* a03 */
.a03 li{
  background: #FBD7A1;
}

.a03 .number{
  color: #D8AD6E;
  opacity: 20%;
  right: -12%;
}
.a03 .box {background-color: #FBD7A1;}
/* End of a03 */

/* footer */
footer ul a{ margin: 0 20px; }
/* End of footer */

}
/* ----------------------------- End of desktop  ---------------------------- */
